body{
    background: #f0f3f6;
}

video{
    width: 100%;
    height: 100%;
    background-color: black;
}

.container{
    width: 453px;
    height: 340px;
    margin: 3% auto;
    text-align: center;
}

h1{
    color: #4f4f4f;
    
    font-weight: 500;
    font-family: arial;     
}

p{
    color: #4f4f4f;
    font-weight: 500;
    font-family: arial; 
    font-size: 14px;     
}

button{
    background: transparent;
    outline: none;
    padding: 0 22px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 5px;
    line-height: 38px;
    background: #316fea;
    color: white;
    border: 1px solid transparent;

    margin: 0 auto;
    min-width: 140px;
    font-size: 15px;

    display: block;
}

button:hover {
    background-color: #265cc5;
}

button.stop{
    background-color: #d83232;;    
}

button.stop:hover{
    background-color: #ca2e2e;;    
}

.web-socket-url{
    margin: 10px 0;
    text-align: left;
}

.web-socket-url input{
    width: 100%;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    font-family: arial;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    color: #171717;

    padding: 0px 14px;
    line-height: 40px;
    height: 40px;
}

.web-socket-url input:focus{
    border-color: #316fea;
}

.web-socket-url label{
    font-weight: normal;
    font-family: arial;    
    font-size: 14px;
    color: #383939;    
}