body{
    background: #f0f3f6;
}

video{
    width: 100%;
    aspect-ratio: 16/9;
    background-color: black;
}

.container{
    width: 453px;
    width: 100%;
    max-width: 720px;
    height: 340px;
    height: auto;
    margin: 3% auto;
    text-align: center;
}

h1{
    color: #4f4f4f;
    
    font-weight: 500;
    font-family: arial;     
}

p{
    color: #4f4f4f;
    font-weight: 500;
    font-family: arial; 
    font-size: 14px;     
}

